In [1]:
import pandas as pd

# Load dataset
df = pd.read_excel("census.csv.xlsx")
df

,Age,Eduation,Marital_Status,Gender,Tax_Filing_Status,Income,Parents_Status,Country_of_Birth,Nativity status,Weeks_worked
0,73,Highschoolgraduate,Widowed,Female,Nonfiler,1700.09,Notinuniverse,United-States,Native-BornintheUnitedStates,0
1,58,Somecollegebutnodegree,Divorced,Male,Headofhousehold,1053.55,Notinuniverse,United-States,Native-BornintheUnitedStates,52
2,18,10thgrade,Nevermarried,Female,Nonfiler,991.95,Notinuniverse,Vietnam,Foreignborn-NotacitizenofUS,0
3,9,Children,Nevermarried,Female,Nonfiler,1758.14,Bothparentspresent,United-States,Native-BornintheUnitedStates,0
4,10,Children,Nevermarried,Female,Nonfiler,1069.16,Bothparentspresent,United-States,Native-BornintheUnitedStates,0
...,...,...,...,...,...,...,...,...,...,...
1995,45,Bachelorsdegree(BAABBS),Nevermarried,Male,Single,1353.86,Notinuniverse,United-States,Native-BornintheUnitedStates,52
1996,0,Children,Nevermarried,Male,Nonfiler,1936.23,Bothparentspresent,United-States,Native-BornintheUnitedStates,0
1997,17,10thgrade,Nevermarried,Female,Nonfiler,1951.41,Bothparentspresent,United-States,Native-BornintheUnitedStates,9
1998,10,Children,Nevermarried,Female,Nonfiler,413.50,Fatheronlypresent,United-States,Native-BornintheUnitedStates,0
1999,1,Children,Nevermarried,Female,Nonfiler,562.84,Bothparentspresent,United-States,Native-BornintheUnitedStates,0

In [2]:
# Clean Income column (convert to numeric)
df['Income'] = pd.to_numeric(df['Income'], errors='coerce')

# Clean Tax_Filing_Status column (remove extra spaces)
df['Tax_Filing_Status'] = df['Tax_Filing_Status'].astype(str).str.strip()

# Remove rows with missing values in required columns
df = df.dropna(subset=['Income','Tax_Filing_Status'])

# Cleaned income and tax-details columns
print(df[['Income', 'Tax_Filing_Status']])

       Income Tax_Filing_Status
0     1700.09          Nonfiler
1     1053.55   Headofhousehold
2      991.95          Nonfiler
3     1758.14          Nonfiler
4     1069.16          Nonfiler
...       ...               ...
1995  1353.86            Single
1996  1936.23          Nonfiler
1997  1951.41          Nonfiler
1998   413.50          Nonfiler
1999   562.84          Nonfiler

[2000 rows x 2 columns]

In [3]:
# Now , finding out the citizens who have an annual income above the threshold , i.e. $15,750 and are Non-fillers.
result = df[(df['Income'] > 1312.50) & 
            (df['Tax_Filing_Status'] == 'Nonfiler')]
result

,Age,Eduation,Marital_Status,Gender,Tax_Filing_Status,Income,Parents_Status,Country_of_Birth,Nativity status,Weeks_worked
0,73,Highschoolgraduate,Widowed,Female,Nonfiler,1700.09,Notinuniverse,United-States,Native-BornintheUnitedStates,0
3,9,Children,Nevermarried,Female,Nonfiler,1758.14,Bothparentspresent,United-States,Native-BornintheUnitedStates,0
10,8,Children,Nevermarried,Female,Nonfiler,2466.24,Bothparentspresent,United-States,Native-BornintheUnitedStates,0
11,32,Highschoolgraduate,Nevermarried,Female,Nonfiler,2021.27,Notinuniverse,?,Foreignborn-NotacitizenofUS,0
15,13,Children,Nevermarried,Female,Nonfiler,1520.08,Bothparentspresent,United-States,Native-BornintheUnitedStates,0
...,...,...,...,...,...,...,...,...,...,...
1980,18,Highschoolgraduate,Nevermarried,Female,Nonfiler,2876.96,Notinuniverse,United-States,Native-BornintheUnitedStates,0
1981,75,Somecollegebutnodegree,Married-civilianspousepresent,Female,Nonfiler,1519.91,Notinuniverse,United-States,Native-BornintheUnitedStates,0
1989,15,7thand8thgrade,Nevermarried,Male,Nonfiler,1657.90,Neitherparentpresent,United-States,Native-BornintheUnitedStates,0
1996,0,Children,Nevermarried,Male,Nonfiler,1936.23,Bothparentspresent,United-States,Native-BornintheUnitedStates,0
1997,17,10thgrade,Nevermarried,Female,Nonfiler,1951.41,Bothparentspresent,United-States,Native-BornintheUnitedStates,9

In [4]:
# No. of citizens evading taxes 
print('No. of citizens evading taxes : ', result.shape[0])

No. of citizens evading taxes :  438